:root {
  --main-color: #ff4350;
  --background-color: #222a31;
  --background-secondary-color: #1a1c20;
  --text-color: #f3f3f3;
  --secondary-color: #9f9f9f;
  --title-color: #9f9f9f;
  --border-radius: 6px;
  
}